# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
_DelSyncFiles
.svn/
migrate_working_dir/
.vscode/settings.json

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
/pubspec.lock
**/doc/api/
.dart_tool/
.packages
build/
